In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
data=pd.read_csv('default_of_credit_card_clients.csv',sep=";")

In [3]:
data.shape

(30000, 24)

In [4]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

verileri numpy array yapmadan pandas ile ayırabiliriz.  drop ile son kolon çıkartılıp diğerleri X in içine attı. ikinci stepte default payment... olan kolonu y ye atadı.

In [5]:
X=data.drop('default payment next month',axis=1)

In [6]:
y=data['default payment next month']

In [7]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.25)

In [ ]:
clf=SVC(kernel='linear')
clf.fit(X_train, y_train)

In [ ]:
y_pred=clf.predict(X_test)
confusion_matrix=(y_test,y_pred)