In [67]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import svm

In [68]:
dataset = pd.read_csv('mydata.csv',sep=";",header=None)
print(dataset.shape)

(14980, 15)

In [69]:
dataset.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,0
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,0

In [70]:
dataset.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000
mean,4321.917777,4009.767694,4264.022433,4164.946326,4341.741075,4644.022379,4110.400160,4616.056904,4218.826610,4231.316200,4202.456900,4279.232774,4615.257405,4416.435832,0.448798
std,2492.072174,45.941672,44.428052,5216.404632,34.738821,2924.789537,4600.926543,29.292603,2136.408523,38.050903,37.785981,41.544312,1208.191600,5891.285043,0.497388
min,1030.770000,2830.770000,1040.000000,2453.330000,2089.740000,2768.210000,2086.150000,4567.180000,1357.950000,1816.410000,3273.330000,2257.950000,276.410000,1366.150000,0.000000
25%,4280.510000,3990.770000,4250.260000,4108.210000,4331.790000,4611.790000,4057.950000,4604.620000,4190.770000,4220.510000,4190.260000,4267.690000,4590.770000,4342.050000,0.000000
50%,4294.360000,4005.640000,4262.560000,4120.510000,4338.970000,4617.950000,4070.260000,4613.330000,4199.490000,4229.230000,4200.510000,4276.920000,4603.080000,4354.870000,0.000000
75%,4311.790000,4023.080000,4270.770000,4132.310000,4347.180000,4626.670000,4083.590000,4624.100000,4209.230000,4239.490000,4211.280000,4287.180000,4617.440000,4372.820000,1.000000
max,309231.000000,7804.620000,6880.510000,642564.000000,6474.360000,362564.000000,567179.000000,7264.100000,265641.000000,6674.360000,6823.080000,7002.560000,152308.000000,715897.000000,1.000000

In [71]:
dataset=np.array(dataset)
dataset
dataset.shape

(14980, 15)

In [72]:
x=dataset[:,:14] #new= dataset[startindex : stop index , startindex : stop index] 
#bütün rowlarda ilk 14 columnu aldık
y=dataset[:,14:15]# son satırı 0 ile 1 leri y'ye atatık

In [73]:
x

array([[4329.23, 4009.23, 4289.23, ..., 4280.51, 4635.9 , 4393.85],
       [4324.62, 4004.62, 4293.85, ..., 4279.49, 4632.82, 4384.1 ],
       [4327.69, 4006.67, 4295.38, ..., 4282.05, 4628.72, 4389.23],
       ...,
       [4277.44, 3990.77, 4246.67, ..., 4257.95, 4591.79, 4339.49],
       [4284.62, 3991.79, 4251.28, ..., 4267.18, 4596.41, 4350.77],
       [4287.69, 3997.44, 4260.  , ..., 4274.36, 4597.95, 4350.77]])

In [74]:
y

array([[0.],
       [0.],
       [0.],
       ...,
       [1.],
       [1.],
       [1.]])

burada x ve y leri iki farklı array olarak ayırmadan önce bir bütün olarak mi train/test diye split etmeliydim ?

In [94]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20, stratify=y)

In [95]:
x_train.shape

(11984, 14)

In [96]:
x_test.shape

(2996, 14)

In [97]:
y_train.shape

(11984, 1)

In [98]:
y_test.shape

(2996, 1)