In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
dataset = pd.read_csv('mydata.csv')
print(dataset.shape)

(14979, 1)

In [13]:
dataset.head()

  4329.23;4009.23;4289.23;4148.21;4350.26;4586.15;4096.92;4641.03;4222.05;4238.46;4211.28;4280.51;4635.9;4393.85;0
0  4324.62;4004.62;4293.85;4148.72;4342.05;4586.6...
1  4327.69;4006.67;4295.38;4156.41;4336.92;4583.5...
2  4328.72;4011.79;4296.41;4155.9;4343.59;4582.56...
3  4326.15;4011.79;4292.31;4151.28;4347.69;4586.6...
4  4321.03;4004.62;4284.1;4153.33;4345.64;4587.18...