In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [12]:
data=pd.read_csv('messidor.csv',sep=",",header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1,1,22,22,22,19,18,14,49.895756,17.775994,5.270920,0.771761,0.018632,0.006864,0.003923,0.003923,0.486903,0.100025,1,0
1,1,1,24,24,22,18,16,13,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0,0
2,1,1,62,60,59,54,47,33,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0,1
3,1,1,55,53,53,50,43,31,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0,0
4,1,1,44,44,44,41,39,27,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0,1

In [13]:
X = np.array(data)[:,:18]
y1 = np.array(data)[:,18]
y2 = np.array(data)[:,19]

In [14]:
X_train, X_test, y1_train, y1_test, y2_train, y2_test = train_test_split(X, y1, y2, test_size=0.25)

In [15]:
clf1 = SVC(kernel='linear')  
clf1.fit(X_train, y1_train) 

clf2 = SVC(kernel='linear')  
clf2.fit(X_train, y2_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:
y1_pred = clf1.predict(X_test)
y2_pred = clf2.predict(X_test)
cm1 = confusion_matrix(y1_test,y1_pred)
cm2 = confusion_matrix(y2_test,y2_pred)

In [17]:
print(cm1)
print(cm2)

[[158  32]
 [ 46  52]]
[[117  15]
 [ 59  97]]