In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [12]:
data=pd.read_csv('mydata.csv',sep=";",header=None)

In [13]:
data.shape

(14980, 15)

In [14]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,0
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,0
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,0
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,0
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,0

In [15]:
data=np.array(data)

In [16]:
X=data[:,:14]
y=data[:,14]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

In [18]:
clf = SVC(kernel='linear')  
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [19]:
y_pred = clf.predict(X_test)

In [20]:
print(confusion_matrix(y_test,y_pred))  
targetnames=["Class 0", "Class 1"]
print(classification_report(y_test,y_pred,target_names=targetnames))

[[2243  638]
 [1264 1098]]
             precision    recall  f1-score   support

    Class 0       0.64      0.78      0.70      2881
    Class 1       0.63      0.46      0.54      2362

avg / total       0.64      0.64      0.63      5243